.button{

    padding:  8px 20px;
    color:white;
    font-size: 15px;
    max-width:  160px;
    background-color: rgb(186, 164, 206);
    border-radius: 4px;
    border: none;
    margin: 10px 15px,
    
}